* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

body {
  font-family: $primary-font-family;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: $primary;
  text-decoration: none;
}
