.content {
  @apply text-lg;
  @apply leading-relaxed;
}

.content p,
.content ul,
.content ol,
.content blockquote {
  @apply my-6;
}

.content a {
  @apply underline;
}

.content ul,
.content ol {
  @apply pl-4;
}

.content ul {
  @apply list-disc;
}

.content ol {
  @apply list-decimal;
}

.content ul > li > ul,
.content ol > li > ol {
  @apply my-0;
  @apply ml-4;
}

.content ul > li > ul {
  list-style: circle;
}

.content h2 {
  @apply text-3xl;
  @apply mt-12;
  @apply mb-4;
  @apply leading-snug;
}

.content h3 {
  @apply text-2xl;
  @apply mt-8;
  @apply mb-4;
  @apply leading-snug;
}

.content h4 {
  @apply text-xl;
  @apply mt-6;
  @apply mb-4;
  @apply leading-snug;
}

.content pre {
  @apply whitespace-pre;
  @apply overflow-x-auto;
  @apply p-4;
  @apply text-sm;
  @apply leading-tight;
  @apply border;
  @apply border-gray-400;
  @apply bg-gray-100;
}

.content code {
  @apply text-sm;
}

.content figcaption {
  @apply text-center;
  @apply text-sm;
}

.content blockquote {
  @apply border-l-4;
  @apply border-gray-500;
  @apply bg-gray-200;
  @apply italic;
  @apply ml-0;
  @apply py-4;
  @apply px-6;
}

.content blockquote p {
  @apply mt-0;
}

.content blockquote cite {
  @apply not-italic;
}

.content audio {
  @apply w-full;
}
