@import 'styles/utils/rem-calc.scss';
@import 'styles/mixins/breakpoints.scss';

.container {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;

  @include media('sm') {
    max-width: rem-calc(640);
  }

  @include media('md') {
    max-width: rem-calc(768);
  }

  @include media('lg') {
    max-width: rem-calc(1024);
  }

  @include media('xl') {
    max-width: $max-width;
  }
}
