@import 'styles/settings/variables.scss';
@import 'styles/mixins/breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .title {
    color: $primary;
    font-size: 2.75rem;
    line-height: 1.2;
    letter-spacing: -0.04em;
    font-weight: 700;

    @include media('md') {
      padding-right: 2rem;
      font-size: 6.25rem;
    }
  }

  @include media('md') {
    margin-bottom: 3rem;
    justify-content: space-between;
    flex-direction: row;
  }
}
