@import 'styles/mixins/breakpoints.scss';

.author {
  display: none;

  @include media('md') {
    display: block;
    margin-bottom: 3rem;
  }
}

.container {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;

  .author {
    display: block;
    margin-bottom: 1.5rem;

    @include media('md') {
      display: none;
    }
  }

  .byline {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
}

.coverImage {
  margin-bottom: 2rem;

  @include media('sm') {
    margin-left: 0;
    margin-right: 0;
  }

  @include media('md') {
    margin-bottom: 4rem;
  }
}
